body {
    overflow: hidden;
    height: 100vh;
    margin: 0px;
    /* agregar espacio hasta abajo */
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: repeat(2, fr);
    grid-gap: 15px;
    grid-auto-flow: minmax(150px, auto);
    height: 100%;
    margin: 10px;
    padding: 10px;
}

#uno {
    grid-area: 1 / 1 / 1 / 3;
    background-color: rgb(15, 122, 102);
}

#dos {
    grid-area: 1 / 3 / 2 / 5;
    background-color: rgb(67, 199, 222);
}

#tres {
    grid-area: 4 / 1 / 2 / 3;
    background-color: rgb(250, 73, 45);
}

#cuatro {
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: repeat(2, fr);
    grid-auto-flow: minmax(150px, auto);
    grid-gap: 5px;
    margin: 10px;
    padding: 10px;
    grid-area: 4 / 3 / 2 / 5;
    background-color: rgb(250, 128, 213);
}

#cinco {
    grid-area: 1 / 1 / 2 / 5;
    background-color: rgb(167, 27, 6);
}

#seis {
    grid-area: 3 / 1 / 2 / 3;
    background-color: rgb(15, 130, 145);
}

#siete {
    grid-area: 3 / 3 / 2 / 5;
    background-color: rgb(173, 67, 222);
}