*{ 
    font-family: "Ultra";
    font-size: 12px;
}

div {
    border: 1px solid black;
    margin: 10px; /* cajas */
    padding: 10px; /* texto */
}

#nav-container {
    justify-content: space-evenly;
    border: 0px;
    background-color: pink;
}

#box1 { border: 0px; flex: 4; margin-left: 100px; }
#box2 { border: 0px; flex: 1; }
#box3 { border: 0px; flex: 1; }
#box4 { border: 0px; flex: 1; }

#main-container {
    justify-content: center;
    align-content: center;
    background-color: plum;
    border: 0px;
    flex-direction: column;
    text-align: center;
}

#mainSub { border: 0px;}

#subBox { 
    margin-bottom: 0px; 
    margin-top: 0px;
    border: 0px;
    font-size: 20px;
}

#choro1 { 
    margin-top: 0px; 
    border: 0px;
}

#second-container {
    justify-content: center;
    background-color: lightblue;
    border: 0px;
    flex-direction: row;
}

#subscribeGeneral {
    display: flex;
    border: 0px;
    flex-direction: row;
}

#formDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border: 0px;
}

#box7 { 
    border: 0px; 
    text-align: right; 
    margin-right: 0px;
}

#emailBox {
    flex: 2; 
    border: 0px; 
    text-align: left; 
    margin-left: 0px;
}

#buttonBox {
    flex: 3; 
    border: 0px;
    text-align: left;
    margin-left: 0px;
}

#third-container {
    justify-content: space-evenly;
    background-color: rgb(122, 221, 130);
    border: 0px;
}

#HTMLBox { border: 0px; text-align: center; flex: 2; }
#CssBox { border: 0px; text-align: center; flex: 2; }
#JsBox { border: 0px; text-align: center; flex: 2; }
#htmlimg { border: 0px; } 
#cssimg { border: 0px; }
#jsimg { border: 0px; }  
#htmltext { border: 0px; } 
#csstext { border: 0px; }
#jstext { border: 0px; }  

#divFooter {
    background-color: pink;
    border: 0px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}