*{ 
    font-family: "Ultra";
    font-size: 12px;
}

div {
    border: 1px solid black;
    margin: 10px; /* cajas */
    padding: 10px; /* texto */
}

#nav-container {
    justify-content: space-evenly;
    border: 0px;
    background-color: pink;
}

#box1 { border: 0px; flex: 3; }
#box2 { border: 0px; }
#box3 { border: 0px; }
#box4 { border: 0px; }

#main-container {
    justify-content: center;
    align-content: center;
    background-color: plum;
    border: 0px;
    flex-direction: column;
}

#mainSub { border: 0px; }

#subBox { 
    margin-bottom: 0px; 
    margin-top: 0px;
    border: 0px;
    font-size: 20px;
}

#choro1 { 
    margin-top: 0px; 
    border: 0px;
}

#second-container {
    justify-content: space-evenly;
    background-color: lightblue;
    border: 0px;
}

#box7 { border: 0px; flex: 2; }

#third-container {
    justify-content: space-evenly;
    background-color: rgb(122, 221, 130);
    border: 0px;
}

#divFooter {
    background-color: pink;
    border: 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}